.ArduinoDark-bd {
    border-color: rgb(0,100,104) !important;
}
.Arduino-bg {
    background-color: rgb(23,161,165) !important;
}
.ArduinoLight-bg {
    background-color: rgb(77,183,187) !important;
}
